#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  box-sizing: border-box;
}

h2 {
  color: yellow;
  font-style: italic;
  text-decoration: underline;
  position: relative;
}

/* p {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

.cards {
  display: grid;
  grid-template-columns: repeat(6, 25%);
  grid-column-gap: 5px;
  justify-content: space-around;
  filter: drop-shadow(2px 2px);
  width: 70em;
  padding-left: 3rem;
  padding-top: 3rem;
}

html {
  background-image: url(https://t4.ftcdn.net/jpg/01/22/87/11/360_F_122871183_5etdY3FDi51E5P2733vnTaxxMhbTW8eR.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

button {
  background-color: lightgreen;
  color: blue;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

/* .form {
  color: white;
  font-size: 18px;
  filter: drop-shadow(black 2px 2px);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1vw;
} */
